.class_1{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 10px;
}

.class_2{

    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.class_3{
     list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}